# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Flutter Generated
.flutter-versions
.generated_plugin_registrant.dart

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Web
web/.dart_tool/
web/build/

# Firebase
google-services.json
GoogleService-Info.plist

# Keystore files (muy importante)
*.jks
*.keystore

# Coverage
coverage/

# Temporary files
*.tmp
*.temp

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Dart
.dart_tool/
.pub-cache/

# Flutter logs
flutter_*.log

# Environment files
.env
# extras
android/app/google-services.json
firebase.json